src/main/mule/deploymentfortravis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0123dbd2-4276-46a1-993d-b052df574681" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="deploymentfortravisFlow" doc:id="95cd4ff3-01a9-472c-821c-cd64495aebc7" >
		<http:listener doc:name="Listener" doc:id="4b058849-1590-4ab2-b05c-b6fdbf772f39" config-ref="HTTP_Listener_config" path="/travisdep"/>
		<set-payload value='#["This payload is:" ++ now()]' doc:name="Set Payload" doc:id="57f7cec4-9010-48df-9642-04f3f0e90a17" />
	</flow>
</mule>
